### Stock Database Analysis

In [3]:
from stocksense.database_handler import DatabaseHandler

In [7]:
db = DatabaseHandler()

2024-11-23 14:50:14.076 | SUCCESS  | stocksense.database_handler.schema:create_tables:122 - Tables created successfully

In [6]:
db.fetch_info(tic="BIG")

shape: (0, 0)
┌┐
╞╡
└┘

In [5]:
db.fetch_info(tic="BIG").to_pandas()

Empty DataFrame
Columns: []
Index: []

In [9]:
mdf = db.fetch_market_data("S").sort(by=["date"])
mdf

shape: (749, 5)
┌─────┬────────────┬───────────┬───────────┬──────────┐
│ tic ┆ date       ┆ close     ┆ adj_close ┆ volume   │
│ --- ┆ ---        ┆ ---       ┆ ---       ┆ ---      │
│ str ┆ date       ┆ f64       ┆ f64       ┆ i64      │
╞═════╪════════════╪═══════════╪═══════════╪══════════╡
│ S   ┆ 2021-06-30 ┆ 42.5      ┆ 42.5      ┆ 20587300 │
│ S   ┆ 2021-07-01 ┆ 40.040001 ┆ 40.040001 ┆ 6293400  │
│ S   ┆ 2021-07-02 ┆ 44.59     ┆ 44.59     ┆ 4635000  │
│ S   ┆ 2021-07-06 ┆ 49.5      ┆ 49.5      ┆ 7135800  │
│ S   ┆ 2021-07-07 ┆ 51.490002 ┆ 51.490002 ┆ 7092800  │
│ …   ┆ …          ┆ …         ┆ …         ┆ …        │
│ S   ┆ 2024-06-14 ┆ 18.459999 ┆ 18.459999 ┆ 4716800  │
│ S   ┆ 2024-06-17 ┆ 18.43     ┆ 18.43     ┆ 3417200  │
│ S   ┆ 2024-06-18 ┆ 18.16     ┆ 18.16     ┆ 3959100  │
│ S   ┆ 2024-06-20 ┆ 17.959999 ┆ 17.959999 ┆ 3142400  │
│ S   ┆ 2024-06-21 ┆ 18.33     ┆ 18.33     ┆ 9609200  │
└─────┴────────────┴───────────┴───────────┴──────────┘

In [4]:
fdf = db.fetch_financial_data("BIG")
fdf

shape: (78, 27)
┌─────┬────────────┬────────────┬──────────┬───┬───────┬─────────┬──────────┬──────────────┐
│ tic ┆ datadate   ┆ rdq        ┆ saleq    ┆ … ┆ dvq   ┆ capxq   ┆ icaptq   ┆ surprise_pct │
│ --- ┆ ---        ┆ ---        ┆ ---      ┆   ┆ ---   ┆ ---     ┆ ---      ┆ ---          │
│ str ┆ date       ┆ date       ┆ f64      ┆   ┆ f64   ┆ f64     ┆ f64      ┆ f64          │
╞═════╪════════════╪════════════╪══════════╪═══╪═══════╪═════════╪══════════╪══════════════╡
│ BIG ┆ 2005-01-31 ┆ 2005-02-23 ┆ 1380.897 ┆ … ┆ 0.0   ┆ 135.291 ┆ 1234.69  ┆ 0.054        │
│ BIG ┆ 2005-04-30 ┆ 2005-05-17 ┆ 1043.084 ┆ … ┆ 0.0   ┆ 15.31   ┆ 1196.411 ┆ 0.514        │
│ BIG ┆ 2005-07-31 ┆ 2005-08-17 ┆ 1000.511 ┆ … ┆ 0.0   ┆ 29.11   ┆ 1251.825 ┆ 0.212        │
│ BIG ┆ 2005-10-31 ┆ 2005-11-16 ┆ 991.408  ┆ … ┆ 0.0   ┆ 14.009  ┆ 1312.701 ┆ 0.286        │
│ BIG ┆ 2006-01-31 ┆ 2006-02-22 ┆ 1394.902 ┆ … ┆ 0.0   ┆ 10.074  ┆ 1084.224 ┆ -0.225       │
│ …   ┆ …          ┆ …          ┆ …        ┆ … ┆ …     ┆ …       ┆ …        ┆ …            │
│ BIG ┆ 2023-04-30 ┆ 2023-05-26 ┆ 1123.577 ┆ … ┆ 9.587 ┆ null    ┆ 1052.956 ┆ -0.864       │
│ BIG ┆ 2023-07-31 ┆ 2023-08-29 ┆ 1139.361 ┆ … ┆ 0.153 ┆ 13.137  ┆ 799.229  ┆ 0.214        │
│ BIG ┆ 2023-10-31 ┆ 2023-11-30 ┆ 1026.677 ┆ … ┆ 0.046 ┆ 15.006  ┆ 846.203  ┆ 0.06         │
│ BIG ┆ 2024-01-31 ┆ 2024-03-07 ┆ 1432.484 ┆ … ┆ 0.02  ┆ 18.135  ┆ 693.616  ┆ -0.225       │
│ BIG ┆ 2024-04-30 ┆ 2024-06-06 ┆ 1009.112 ┆ … ┆ 0.159 ┆ 15.148  ┆ 655.284  ┆ -0.152       │
└─────┴────────────┴────────────┴──────────┴───┴───────┴─────────┴──────────┴──────────────┘

In [11]:
db.fetch_insider_data("PLTR").to_pandas()

,tic,filling_date,trade_date,owner_name,title,transaction_type,last_price,qty,shares_held,owned,value
0,PLTR,2020-10-02,2020-09-30,Cohen Stephen Andrew,"Pres, Secretary",S - Sale+OE,$9.71,"-2,000,000","2,402,647",-45%,"-$19,422,100"
1,PLTR,2020-10-02,2020-09-30,Glazer David A.,"CFO, Treasurer",S - Sale,$10.03,"-1,615,621","3,940,152",-29%,"-$16,206,016"
2,PLTR,2020-10-02,2020-09-30,Karp Alexander C.,CEO,S - Sale+OE,$9.70,"-11,500,000","9,026,496",-56%,"-$111,606,220"
3,PLTR,2020-10-02,2020-09-30,Long Matthew A.,GC,S - Sale+OE,$10.06,"-579,404","874,006",-40%,"-$5,830,660"
4,PLTR,2020-10-02,2020-09-30,Moore Alexander D.,Dir,S - Sale,$9.54,"-285,000","2,429,249",-11%,"-$2,719,315"
...,...,...,...,...,...,...,...,...,...,...,...
277,PLTR,2024-10-07,2024-10-03,Planishek Heather A.,See Remarks,S - Sale+OE,$39.32,"-34,017","570,136",-6%,"-$1,337,500"
278,PLTR,2024-10-08,2024-10-04,Taylor Ryan D.,See Remarks,S - Sale+OE,$40.00,"-195,500","331,369",-37%,"-$7,820,704"
279,PLTR,2024-10-15,2024-10-11,Stat Lauren Elaina Friedman,Dir,S - Sale,$43.90,"-7,321","201,243",-4%,"-$321,392"
280,PLTR,2024-10-29,2024-10-25,Karp Alexander C.,See Remarks,S - Sale+OE,$45.01,"-5,656,293","6,432,258",-47%,"-$254,610,669"
281,PLTR,2024-10-29,2024-10-25,Taylor Ryan D.,See Remarks,S - Sale+OE,$45.00,"-123,334","331,369",-27%,"-$5,550,030"

In [10]:
mdf = db.fetch_market_data("PLTR")
mdf.to_pandas()

       tic       date      close  adj_close     volume
0     PLTR 2020-09-30   9.500000   9.500000  338584400
1     PLTR 2020-10-01   9.460000   9.460000  124297600
2     PLTR 2020-10-02   9.200000   9.200000   55018300
3     PLTR 2020-10-05   9.030000   9.030000   36316900
4     PLTR 2020-10-06   9.900000   9.900000   90864000
...    ...        ...        ...        ...        ...
1025  PLTR 2024-10-28  44.970001  44.970001   36729700
1026  PLTR 2024-10-29  44.930000  44.930000   26154700
1027  PLTR 2024-10-30  43.689999  43.689999   31309200
1028  PLTR 2024-10-31  41.560001  41.560001   50864600
1029  PLTR 2024-11-01  42.060001  42.060001   19839845

[1030 rows x 5 columns]

In [8]:
st = db.fetch_stock().to_pandas()
st

,tic,name,sector,last_update,spx_status,active
0,AABA,None,Financials,2017-04-18,0,0
1,AAP,None,Consumer Discretionary,2024-02-28,0,1
2,ABC,None,Health Care,2023-08-02,0,0
3,ABI,None,Industrials,2005-01-01,0,0
4,ABKFQ,None,Financials,2005-01-01,0,0
...,...,...,...,...,...,...
935,ZTS,Zoetis,Health Care,2024-10-13,1,1
936,AMTM,Amentum,Industrials,2005-01-01,1,0
937,ERIE,Erie Indemnity,Financials,2024-10-13,1,1
938,PLTR,Palantir Technologies,Information Technology,2024-10-13,1,1
939,SW,Smurfit WestRock,Materials,2024-10-13,1,1

In [9]:
inf = db.fetch_info("AAPL").to_pandas()
inf

,tic,risk,beta,volume,trailing_pe,forward_pe,trailing_peg,peg,trailing_eps,forward_eps,...,currency,shares_outstanding,enterprise_value,short_ratio,curr_price,fiftytwo_wc,rec_key,target_low,target_high,target_mean
0,AAPL,1,1.239,30817675.0,34.58207,30.421124,2.1839,3.09,6.58,7.48,...,USD,1.520410e+10,3.499204e+12,2.32,227.55,0.273221,None,183.86,300.0,240.78

In [10]:
inf.loc[0, ["risk"]].values[0]

1