### Stock Database Analysis

In [15]:
from database_handler import DatabaseHandler

In [18]:
db = DatabaseHandler()

2024-11-15 15:59:57.517 | SUCCESS  | database_handler.schema:create_tables:122 - Tables created successfully

In [17]:
db.fetch_stock().sort(by=["last_update"])

shape: (940, 6)
┌───────┬──────────────────┬────────────────────────┬─────────────┬────────────┬────────┐
│ tic   ┆ name             ┆ sector                 ┆ last_update ┆ spx_status ┆ active │
│ ---   ┆ ---              ┆ ---                    ┆ ---         ┆ ---        ┆ ---    │
│ str   ┆ str              ┆ str                    ┆ date        ┆ i64        ┆ i64    │
╞═══════╪══════════════════╪════════════════════════╪═════════════╪════════════╪════════╡
│ ABI   ┆ null             ┆ Industrials            ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ ABKFQ ┆ null             ┆ Financials             ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ ABS   ┆ null             ┆ Consumer Staples       ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ ACV   ┆ null             ┆ Consumer Staples       ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ ANRZQ ┆ null             ┆ Materials              ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ …     ┆ …                ┆ …                      ┆ …           ┆ …          ┆ …      │
│ SW    ┆ Smurfit WestRock ┆ Materials              ┆ 2024-11-01  ┆ 1          ┆ 1      │
│ DELL  ┆ null             ┆ Information Technology ┆ 2024-11-14  ┆ 1          ┆ 1      │
│ MMM   ┆ 3M               ┆ Industrials            ┆ 2024-11-14  ┆ 1          ┆ 1      │
│ AOS   ┆ A. O. Smith      ┆ Industrials            ┆ 2024-11-14  ┆ 1          ┆ 1      │
│ ABT   ┆ Abbott           ┆ Health Care            ┆ 2024-11-14  ┆ 1          ┆ 1      │
└───────┴──────────────────┴────────────────────────┴─────────────┴────────────┴────────┘

In [4]:
db.fetch_info().to_pandas()

,tic,risk,beta,volume,trailing_pe,forward_pe,trailing_peg,peg,trailing_eps,forward_eps,...,currency,shares_outstanding,enterprise_value,short_ratio,curr_price,fiftytwo_wc,rec_key,target_low,target_high,target_mean
0,DELL,10.0,0.959,6494113.0,24.089317,13.945095,0.6729,1.27,5.43,9.38,...,USD,3.338740e+08,1.076618e+11,0.92,130.8050,0.778593,None,106.00,220.0,146.49
1,MMM,9.0,0.995,769766.0,13.260146,16.109987,NaN,-4.51,9.61,7.91,...,USD,5.445590e+08,7.658444e+10,2.27,127.4300,0.637014,None,100.00,165.0,144.37
2,AOS,10.0,1.149,213769.0,20.067282,18.686731,1.8228,1.99,3.79,4.07,...,USD,1.191100e+08,1.077676e+10,2.59,76.0550,0.049469,None,68.89,95.0,82.69
3,ABT,7.0,0.722,3650670.0,36.419453,23.220930,2.2014,2.94,3.29,5.16,...,USD,1.739900e+09,2.051202e+11,2.87,119.8200,0.182909,None,105.23,146.0,129.76
4,ABBV,6.0,0.618,1273635.0,71.01046,16.829067,0.4840,2.88,2.87,12.11,...,USD,1.766340e+09,4.179285e+11,3.56,203.8000,0.441592,None,170.00,240.0,208.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ZBH,2.0,1.023,710915.0,20.769066,12.728643,1.3985,1.96,5.24,8.55,...,USD,1.990740e+08,2.736316e+10,3.83,108.8299,-0.016828,None,107.00,145.0,124.27
496,ZTS,3.0,0.886,1092192.0,35.53039,28.050310,2.5381,3.24,5.10,6.46,...,USD,4.530510e+08,8.619046e+10,2.52,181.2050,0.102016,None,172.12,248.0,218.58
497,ERIE,NaN,NaN,98306.0,39.00749,31.089554,NaN,3.96,10.68,13.40,...,USD,4.618910e+07,2.047076e+10,1.96,416.6000,0.612908,None,NaN,NaN,NaN
498,PLTR,10.0,2.720,19839525.0,247.41177,97.813960,2.1988,2.00,0.17,0.43,...,USD,2.142320e+09,8.941898e+10,1.26,42.0600,1.200106,None,9.00,50.0,28.85
499,SW,NaN,1.046,1227741.0,None,13.142674,NaN,NaN,-1.82,3.89,...,USD,5.193240e+08,3.967295e+10,3.87,51.1250,0.114236,None,50.00,65.7,57.61

In [5]:
mdf = db.fetch_market_data("SOLV")
mdf

shape: (151, 5)
┌──────┬────────────┬───────────┬───────────┬──────────┐
│ tic  ┆ date       ┆ close     ┆ adj_close ┆ volume   │
│ ---  ┆ ---        ┆ ---       ┆ ---       ┆ ---      │
│ str  ┆ date       ┆ f64       ┆ f64       ┆ i64      │
╞══════╪════════════╪═══════════╪═══════════╪══════════╡
│ SOLV ┆ 2024-04-01 ┆ 69.099998 ┆ 69.099998 ┆ 14094900 │
│ SOLV ┆ 2024-04-02 ┆ 66.900002 ┆ 66.900002 ┆ 9446900  │
│ SOLV ┆ 2024-04-03 ┆ 63.889999 ┆ 63.889999 ┆ 5177200  │
│ SOLV ┆ 2024-04-04 ┆ 67.0      ┆ 67.0      ┆ 5239700  │
│ SOLV ┆ 2024-04-05 ┆ 70.059998 ┆ 70.059998 ┆ 4216300  │
│ …    ┆ …          ┆ …         ┆ …         ┆ …        │
│ SOLV ┆ 2024-10-28 ┆ 73.360001 ┆ 73.360001 ┆ 822800   │
│ SOLV ┆ 2024-10-29 ┆ 73.349998 ┆ 73.349998 ┆ 683100   │
│ SOLV ┆ 2024-10-30 ┆ 73.57     ┆ 73.57     ┆ 601200   │
│ SOLV ┆ 2024-10-31 ┆ 72.580002 ┆ 72.580002 ┆ 801300   │
│ SOLV ┆ 2024-11-01 ┆ 73.089996 ┆ 73.089996 ┆ 197431   │
└──────┴────────────┴───────────┴───────────┴──────────┘

In [12]:
fdf = db.fetch_financial_data("PLTR")
fdf

shape: (6, 27)
┌──────┬────────────┬────────────┬─────────┬───┬──────┬───────┬──────────┬──────────────┐
│ tic  ┆ datadate   ┆ rdq        ┆ saleq   ┆ … ┆ dvq  ┆ capxq ┆ icaptq   ┆ surprise_pct │
│ ---  ┆ ---        ┆ ---        ┆ ---     ┆   ┆ ---  ┆ ---   ┆ ---      ┆ ---          │
│ str  ┆ date       ┆ date       ┆ f64     ┆   ┆ null ┆ f64   ┆ f64      ┆ f64          │
╞══════╪════════════╪════════════╪═════════╪═══╪══════╪═══════╪══════════╪══════════════╡
│ PLTR ┆ 2023-03-31 ┆ 2023-05-08 ┆ null    ┆ … ┆ null ┆ null  ┆ null     ┆ 0.2544       │
│ PLTR ┆ 2023-06-30 ┆ 2023-08-07 ┆ 533.317 ┆ … ┆ null ┆ 3.934 ┆ 2955.474 ┆ -0.0156      │
│ PLTR ┆ 2023-09-30 ┆ 2023-11-02 ┆ 558.159 ┆ … ┆ null ┆ 1.565 ┆ 3190.015 ┆ 0.2453       │
│ PLTR ┆ 2023-12-31 ┆ 2024-02-05 ┆ 608.35  ┆ … ┆ null ┆ 4.86  ┆ 3475.561 ┆ 0.0616       │
│ PLTR ┆ 2024-03-31 ┆ 2024-05-06 ┆ 634.338 ┆ … ┆ null ┆ 2.664 ┆ 3775.227 ┆ 0.02         │
│ PLTR ┆ 2024-06-30 ┆ 2024-08-05 ┆ 678.134 ┆ … ┆ null ┆ 2.879 ┆ 4050.524 ┆ 0.108        │
└──────┴────────────┴────────────┴─────────┴───┴──────┴───────┴──────────┴──────────────┘

In [11]:
db.fetch_insider_data("PLTR").to_pandas()

,tic,filling_date,trade_date,owner_name,title,transaction_type,last_price,qty,shares_held,owned,value
0,PLTR,2020-10-02,2020-09-30,Cohen Stephen Andrew,"Pres, Secretary",S - Sale+OE,$9.71,"-2,000,000","2,402,647",-45%,"-$19,422,100"
1,PLTR,2020-10-02,2020-09-30,Glazer David A.,"CFO, Treasurer",S - Sale,$10.03,"-1,615,621","3,940,152",-29%,"-$16,206,016"
2,PLTR,2020-10-02,2020-09-30,Karp Alexander C.,CEO,S - Sale+OE,$9.70,"-11,500,000","9,026,496",-56%,"-$111,606,220"
3,PLTR,2020-10-02,2020-09-30,Long Matthew A.,GC,S - Sale+OE,$10.06,"-579,404","874,006",-40%,"-$5,830,660"
4,PLTR,2020-10-02,2020-09-30,Moore Alexander D.,Dir,S - Sale,$9.54,"-285,000","2,429,249",-11%,"-$2,719,315"
...,...,...,...,...,...,...,...,...,...,...,...
277,PLTR,2024-10-07,2024-10-03,Planishek Heather A.,See Remarks,S - Sale+OE,$39.32,"-34,017","570,136",-6%,"-$1,337,500"
278,PLTR,2024-10-08,2024-10-04,Taylor Ryan D.,See Remarks,S - Sale+OE,$40.00,"-195,500","331,369",-37%,"-$7,820,704"
279,PLTR,2024-10-15,2024-10-11,Stat Lauren Elaina Friedman,Dir,S - Sale,$43.90,"-7,321","201,243",-4%,"-$321,392"
280,PLTR,2024-10-29,2024-10-25,Karp Alexander C.,See Remarks,S - Sale+OE,$45.01,"-5,656,293","6,432,258",-47%,"-$254,610,669"
281,PLTR,2024-10-29,2024-10-25,Taylor Ryan D.,See Remarks,S - Sale+OE,$45.00,"-123,334","331,369",-27%,"-$5,550,030"

In [10]:
mdf = db.fetch_market_data("PLTR")
mdf.to_pandas()

       tic       date      close  adj_close     volume
0     PLTR 2020-09-30   9.500000   9.500000  338584400
1     PLTR 2020-10-01   9.460000   9.460000  124297600
2     PLTR 2020-10-02   9.200000   9.200000   55018300
3     PLTR 2020-10-05   9.030000   9.030000   36316900
4     PLTR 2020-10-06   9.900000   9.900000   90864000
...    ...        ...        ...        ...        ...
1025  PLTR 2024-10-28  44.970001  44.970001   36729700
1026  PLTR 2024-10-29  44.930000  44.930000   26154700
1027  PLTR 2024-10-30  43.689999  43.689999   31309200
1028  PLTR 2024-10-31  41.560001  41.560001   50864600
1029  PLTR 2024-11-01  42.060001  42.060001   19839845

[1030 rows x 5 columns]

In [8]:
st = db.fetch_stock().to_pandas()
st

,tic,name,sector,last_update,spx_status,active
0,AABA,None,Financials,2017-04-18,0,0
1,AAP,None,Consumer Discretionary,2024-02-28,0,1
2,ABC,None,Health Care,2023-08-02,0,0
3,ABI,None,Industrials,2005-01-01,0,0
4,ABKFQ,None,Financials,2005-01-01,0,0
...,...,...,...,...,...,...
935,ZTS,Zoetis,Health Care,2024-10-13,1,1
936,AMTM,Amentum,Industrials,2005-01-01,1,0
937,ERIE,Erie Indemnity,Financials,2024-10-13,1,1
938,PLTR,Palantir Technologies,Information Technology,2024-10-13,1,1
939,SW,Smurfit WestRock,Materials,2024-10-13,1,1

In [9]:
inf = db.fetch_info("AAPL").to_pandas()
inf

,tic,risk,beta,volume,trailing_pe,forward_pe,trailing_peg,peg,trailing_eps,forward_eps,...,currency,shares_outstanding,enterprise_value,short_ratio,curr_price,fiftytwo_wc,rec_key,target_low,target_high,target_mean
0,AAPL,1,1.239,30817675.0,34.58207,30.421124,2.1839,3.09,6.58,7.48,...,USD,1.520410e+10,3.499204e+12,2.32,227.55,0.273221,None,183.86,300.0,240.78

In [10]:
inf.loc[0, ["risk"]].values[0]

1