### DB Analysis

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

In [2]:
df = pd.read_csv("../data/1_work_data/processed_data/control.csv")

In [3]:
missing_values = df.isnull().sum().sort_values(ascending=False)
print("\nMissing Values Count:\n", missing_values)

Missing Values Count:
 ltda_yoy     44
ni_2y        24
ev_eb_yoy    21
pe_yoy       21
freturn      15
             ..
n_sales       0
val_purch     0
n_purch       0
tdq           0
sector        0
Length: 103, dtype: int64

In [4]:
ins_df = db_handler.fetch_insider_data("AMZN")
ins_df

shape: (1_014, 11)
┌──────┬──────────────┬────────────┬─────────────┬───┬─────────┬─────────────┬───────┬─────────────┐
│ tic  ┆ filling_date ┆ trade_date ┆ owner_name  ┆ … ┆ qty     ┆ shares_held ┆ owned ┆ value       │
│ ---  ┆ ---          ┆ ---        ┆ ---         ┆   ┆ ---     ┆ ---         ┆ ---   ┆ ---         │
│ str  ┆ date         ┆ date       ┆ str         ┆   ┆ str     ┆ str         ┆ str   ┆ str         │
╞══════╪══════════════╪════════════╪═════════════╪═══╪═════════╪═════════════╪═══════╪═════════════╡
│ AMZN ┆ 2005-08-03   ┆ 2005-08-01 ┆ Alberg Tom  ┆ … ┆ -33,470 ┆ 195,865     ┆ -15%  ┆ -$1,499,791 │
│      ┆              ┆            ┆ A           ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2005-08-03   ┆ 2005-08-01 ┆ Kilar Jason ┆ … ┆ -15,000 ┆ 30,187      ┆ -33%  ┆ -$671,181   │
│ AMZN ┆ 2005-08-03   ┆ 2005-08-01 ┆ Szkutak     ┆ … ┆ -30,000 ┆ 28,015      ┆ -52%  ┆ -$1,340,256 │
│      ┆              ┆            ┆ Thomas J    ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2005-08-03   ┆ 2005-08-01 ┆ Wilke       ┆ … ┆ -33,750 ┆ 40,149      ┆ -46%  ┆ -$1,520,384 │
│      ┆              ┆            ┆ Jeffrey A   ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2005-08-03   ┆ 2005-08-01 ┆ Wilson L    ┆ … ┆ -25,000 ┆ 32,395      ┆ -44%  ┆ -$1,119,193 │
│      ┆              ┆            ┆ Michelle    ┆   ┆         ┆             ┆       ┆             │
│ …    ┆ …            ┆ …          ┆ …           ┆ … ┆ …       ┆ …           ┆ …     ┆ …           │
│ AMZN ┆ 2024-08-23   ┆ 2024-08-21 ┆ Herrington  ┆ … ┆ -6,104  ┆ 527,738     ┆ -1%   ┆ -$1,106,048 │
│      ┆              ┆            ┆ Douglas J   ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2024-08-23   ┆ 2024-08-21 ┆ Jassy       ┆ … ┆ -20,784 ┆ 2,131,929   ┆ -1%   ┆ -$3,757,109 │
│      ┆              ┆            ┆ Andrew R    ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2024-08-23   ┆ 2024-08-21 ┆ Olsavsky    ┆ … ┆ -14,600 ┆ 50,562      ┆ -22%  ┆ -$2,628,000 │
│      ┆              ┆            ┆ Brian T     ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2024-08-23   ┆ 2024-08-21 ┆ Reynolds    ┆ … ┆ -3,791  ┆ 124,117     ┆ -3%   ┆ -$686,331   │
│      ┆              ┆            ┆ Shelley     ┆   ┆         ┆             ┆       ┆             │
│ AMZN ┆ 2024-08-23   ┆ 2024-08-21 ┆ Zapolsky    ┆ … ┆ -9,490  ┆ 64,610      ┆ -13%  ┆ -$1,716,563 │
│      ┆              ┆            ┆ David       ┆   ┆         ┆             ┆       ┆             │
└──────┴──────────────┴────────────┴─────────────┴───┴─────────┴─────────────┴───────┴─────────────┘

### Web scraping quick tests

In [3]:
# scrape GP and COST - > check date errors
import yfinance as yf

t = yf.Ticker("MSFT")

data = t.history(start="2005-01-01").reset_index(drop=False)
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2005-01-03 00:00:00-05:00,18.635157,18.739460,18.530856,18.593437,65002900,0.0,0.0
1,2005-01-04 00:00:00-05:00,18.683830,18.843759,18.537808,18.662970,109442100,0.0,0.0
2,2005-01-05 00:00:00-05:00,18.662968,18.843757,18.607341,18.621248,72463500,0.0,0.0
3,2005-01-06 00:00:00-05:00,18.669920,18.815941,18.523898,18.600386,76890500,0.0,0.0
4,2005-01-07 00:00:00-05:00,18.649061,18.697734,18.509993,18.544760,68723300,0.0,0.0
...,...,...,...,...,...,...,...,...
4951,2024-09-05 00:00:00-04:00,407.619995,413.100006,406.130005,408.390015,14195500,0.0,0.0
4952,2024-09-06 00:00:00-04:00,409.059998,410.649994,400.799988,401.700012,19609500,0.0,0.0
4953,2024-09-09 00:00:00-04:00,407.239990,408.649994,402.149994,405.720001,15295100,0.0,0.0
4954,2024-09-10 00:00:00-04:00,408.200012,416.329987,407.700012,414.200012,19594300,0.0,0.0
4955,2024-09-11 00:00:00-04:00,415.500000,423.989990,409.579987,423.040009,19233600,0.0,0.0

In [4]:
t.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.083158,0.21,0.27,0.010717,NaN
Normalized EBITDA,273915000.0,-334447000.0,-469957000.0,-1151017000.0,NaN
Total Unusual Items,NaN,NaN,NaN,811000.0,-3000.0
Total Unusual Items Excluding Goodwill,NaN,NaN,NaN,811000.0,-3000.0
Net Income From Continuing Operation Net Minority Interest,209825000.0,-373705000.0,-520379000.0,-1166391000.0,NaN
Reconciled Depreciation,33354000.0,22522000.0,14897000.0,13871000.0,NaN
Reconciled Cost Of Revenue,431105000.0,408549000.0,339404000.0,352547000.0,NaN
EBITDA,273915000.0,-334447000.0,-469957000.0,-1151017000.0,NaN
EBIT,240561000.0,-356969000.0,-484854000.0,-1164888000.0,NaN
Net Interest Income,129102000.0,16251000.0,-2033000.0,-9459000.0,NaN
Interest Expense,3470000.0,4058000.0,3640000.0,14139000.0,NaN
Interest Income,132572000.0,20309000.0,1607000.0,4680000.0,NaN
Normalized Income,209825000.0,-373705000.0,-520379000.0,-1166391000.0,NaN
Net Income From Continuing And Discontinued Operation,209825000.0,-373705000.0,-520379000.0,-1166391000.0,NaN
Total Expenses,2105046000.0,2067072000.0,1952935000.0,2266352000.0,NaN
Total Operating Income As Reported,119966000.0,-161201000.0,-411046000.0,-1173679000.0,NaN
Diluted Average Shares,2297927000.0,2063793000.0,1923617000.0,979330067.0,NaN
Basic Average Shares,2147446000.0,2063793000.0,1923617000.0,977721736.0,NaN
Diluted EPS,0.09,-0.18,-0.27,-1.2,NaN
Basic EPS,0.1,-0.18,-0.27,-1.19,NaN
Diluted NI Availto Com Stockholders,209825000.0,-373705000.0,-520379000.0,-1171874000.0,NaN
Average Dilution Earnings,NaN,0.0,0.0,-5483000.0,0.0
Net Income Common Stockholders,209825000.0,-373705000.0,-520379000.0,-1166391000.0,NaN
Otherunder Preferred Stock Dividend,NaN,NaN,0.0,0.0,8481000.0
Net Income,209825000.0,-373705000.0,-520379000.0,-1166391000.0,NaN
Minority Interests,-7550000.0,-2611000.0,0.0,NaN,NaN
Net Income Including Noncontrolling Interests,217375000.0,-371094000.0,-520379000.0,-1166391000.0,NaN
Net Income Continuous Operations,217375000.0,-371094000.0,-520379000.0,-1166391000.0,NaN
Tax Provision,19716000.0,10067000.0,31885000.0,-12636000.0,NaN
Pretax Income,237091000.0,-361027000.0,-488494000.0,-1179027000.0,NaN
Other Income Expense,-11977000.0,-216077000.0,-75415000.0,4111000.0,NaN
Other Non Operating Income Expenses,-11977000.0,-216077000.0,-75415000.0,4111000.0,NaN
Gain On Sale Of Security,NaN,NaN,NaN,811000.0,-3000.0
Net Non Operating Interest Income Expense,129102000.0,16251000.0,-2033000.0,-9459000.0,NaN
Interest Expense Non Operating,3470000.0,4058000.0,3640000.0,14139000.0,NaN
Interest Income Non Operating,132572000.0,20309000.0,1607000.0,4680000.0,NaN
Operating Income,119966000.0,-161201000.0,-411046000.0,-1173679000.0,NaN
Operating Expense,1673941000.0,1658523000.0,1613531000.0,1913805000.0,NaN
Research And Development,404624000.0,359679000.0,387487000.0,560660000.0,NaN
Selling General And Administration,1269317000.0,1298844000.0,1226044000.0,1353145000.0,NaN
Selling And Marketing Expense,744992000.0,702511000.0,614512000.0,683701000.0,NaN
General And Administrative Expense,524325000.0,596333000.0,611532000.0,669444000.0,NaN
Other Gand A,524325000.0,596333000.0,611532000.0,669444000.0,NaN
Gross Profit,1793907000.0,1497322000.0,1202485000.0,740126000.0,NaN
Cost Of Revenue,431105000.0,408549000.0,339404000.0,352547000.0,NaN
Total Revenue,2225012000.0,1905871000.0,1541889000.0,1092673000.0,NaN
Operating Revenue,2225012000.0,1905871000.0,1541889000.0,1092673000.0,NaN

## Intro to Polars

In [1]:
import polars as pl
import numpy as np

num_rows = 5000
rng = np.random.default_rng(seed=7)

buildings_data = {
    "sqft": rng.exponential(scale=1000, size=num_rows),
    "year": rng.integers(low=1995, high=2023, size=num_rows),
    "building_type": rng.choice(["A", "B", "C"], size=num_rows),
}

buildings = pl.DataFrame(buildings_data)
buildings

shape: (5_000, 3)
┌─────────────┬──────┬───────────────┐
│ sqft        ┆ year ┆ building_type │
│ ---         ┆ ---  ┆ ---           │
│ f64         ┆ i64  ┆ str           │
╞═════════════╪══════╪═══════════════╡
│ 707.529256  ┆ 1996 ┆ C             │
│ 1025.203348 ┆ 2020 ┆ C             │
│ 568.548657  ┆ 2012 ┆ A             │
│ 895.109864  ┆ 2000 ┆ A             │
│ 206.532754  ┆ 2011 ┆ A             │
│ …           ┆ …    ┆ …             │
│ 710.435755  ┆ 2003 ┆ C             │
│ 408.872783  ┆ 2009 ┆ C             │
│ 57.562059   ┆ 2019 ┆ C             │
│ 3728.088949 ┆ 2020 ┆ C             │
│ 686.678345  ┆ 2011 ┆ C             │
└─────────────┴──────┴───────────────┘

In [4]:
buildings.schema

Schema([('sqft', Float64), ('year', Int64), ('building_type', String)])

In [6]:
buildings.select(["sqft", "year"])

shape: (5_000, 2)
┌─────────────┬──────┐
│ sqft        ┆ year │
│ ---         ┆ ---  │
│ f64         ┆ i64  │
╞═════════════╪══════╡
│ 707.529256  ┆ 1996 │
│ 1025.203348 ┆ 2020 │
│ 568.548657  ┆ 2012 │
│ 895.109864  ┆ 2000 │
│ 206.532754  ┆ 2011 │
│ …           ┆ …    │
│ 710.435755  ┆ 2003 │
│ 408.872783  ┆ 2009 │
│ 57.562059   ┆ 2019 │
│ 3728.088949 ┆ 2020 │
│ 686.678345  ┆ 2011 │
└─────────────┴──────┘

In [8]:
buildings.filter(pl.col("year") > 2015).select(pl.col("year").min())

shape: (1, 1)
┌──────┐
│ year │
│ ---  │
│ i64  │
╞══════╡
│ 2016 │
└──────┘

In [4]:
# Sample DataFrame
df = pl.DataFrame({
    "category": ["A", "A", "B", "B", "C"],
    "value": [1, 2, 3, 4, 5]
})

# Define a complex function to apply to each group
def complex_function(group_df):
    # For demonstration, we'll just calculate the mean of the 'value' column for each group
    return group_df.with_columns(pl.col("value").mean().alias("mean_value"))

# Group by 'category' and apply the complex function
result = df.group_by("category").agg(complex_function)

print(result)

TypeError: cannot create expression literal for value of type function: <function complex_function at 0x12d4edbd0>

Hint: Pass `allow_object=True` to accept any value and create a literal of type Object.