In [2]:
import yfinance as yf
from config import get_config_dict
import datetime as dt
import sys
from pathlib import Path
from loguru import logger
from tqdm import tqdm
import pandas as pd

from config import get_config_dict
import datetime as dt
from loguru import logger
from pipeline import Etl, Preprocess
from database_handler import DatabaseHandler
from utils import *

sys.path.append("..")

In [3]:
tic = yf.Ticker("AAPL")
info = tic.info

In [4]:
info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 150000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1719792000,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 220.27,
 'open': 219.96,
 'dayLow': 219.03,
 'dayHigh': 221.55,
 'regularMarketPreviousClose': 220.27,
 'regularMarketOpen': 219.96,
 'regularMarketDayLow': 219.03,
 'regularMarketDayHigh': 221.55,
 'dividendRate': 1.0,
 'dividendYield': 0.0045,
 'exDividendDate': 1715299200,
 'payoutRatio': 0.14930001,
 'fiveYearAvgDividendYield': 0.69,
 'beta': 1.25,
 'trailingPE': 34.509346,
 'forwardPE': 32.580883,
 'volume': 37198497,
 'regularMarketVolume': 37198497,
 'averageVolume': 68791806,
 'averageVolume10days': 82438230,
 'averageDailyVolume10Day': 82438230,
 'marketCap': 3397269848064,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 221.55,
 'priceToSalesTrailing12Months': 8.902162,
 'fiftyDayAverage': 193.896,
 'twoHundredDayAverage': 184.3639,
 'trailingAnnualDividendRate': 0.96,
 'trailingAnnualDividendYield': 0.0043582874,
 'currency': 'USD',
 'enterpriseValue': 3434705846272,
 'profitMargins': 0.26306,
 'floatShares': 15308474083,
 'sharesOutstanding': 15334099968,
 'sharesShort': 153405579,
 'sharesShortPriorMonth': 99287450,
 'sharesShortPreviousMonthDate': 1715731200,
 'dateShortInterest': 1718323200,
 'sharesPercentSharesOut': 0.01,
 'heldPercentInsiders': 0.052199997,
 'heldPercentInstitutions': 0.57554,
 'shortRatio': 2.29,
 'shortPercentOfFloat': 0.01,
 'impliedSharesOutstanding': 15334099968,
 'bookValue': 4.837,
 'priceToBook': 45.803185,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1711756800,
 'earningsQuarterlyGrowth': -0.022,
 'netIncomeToCommon': 100389003264,
 'trailingEps': 6.42,
 'forwardEps': 6.8,
 'pegRatio': 3.67,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 9.0,
 'enterpriseToEbitda': 26.496,
 '52WeekChange': 0.15504932,
 'SandP52WeekChange': 0.25510752,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1715299200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 221.55,
 'targetHighPrice': 256.12,
 'targetLowPrice': 152.74,
 'targetMeanPrice': 198.52,
 'targetMedianPrice': 195.58,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 37,
 'totalCash': 67150000128,
 'totalCashPerShare': 4.379,
 'ebitda': 129629003776,
 'totalDebt': 104590000128,
 'quickRatio': 0.875,
 'currentRatio': 1.037,
 'totalRevenue': 381623009280,
 'debtToEquity': 140.968,
 'revenuePerShare': 24.537,
 'returnOnAssets': 0.22073999,
 'returnOnEquity': 1.4725,
 'freeCashflow': 84726874112,
 'operatingCashflow': 110563000320,
 'earningsGrowth': 0.007,
 'revenueGrowth': -0.043,
 'grossMargins': 0.45586,
 'ebitdaMargins': 0.33968,
 'operatingMargins': 0.30743,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.3231}

In [30]:
t = yf.Ticker('AACI')
t.get_earnings_dates(limit=21).reset_index()

AACI: $AACI: possibly delisted; No earnings dates found

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [6]:
t.quarterly_income_stmt.T

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,...,Selling General And Administration,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Salaries And Wages,Gross Profit,Cost Of Revenue,Total Revenue,Excise Taxes,Operating Revenue
2024-03-31,-1083691.403746,0.050637,16311000.0,-21401000.0,-21401000.0,-17431000.0,6894000.0,10430000.0,-5090000.0,-11984000.0,...,43224000.0,14537000.0,28687000.0,25658000.0,3029000.0,51167000.0,16244000.0,67411000.0,7825000.0,75236000.0
2023-12-31,-16449.911014,0.00265,-7864000.0,-6208000.0,-6208000.0,-24154000.0,8640000.0,40116000.0,-14072000.0,-22712000.0,...,37204000.0,12106000.0,25098000.0,22259000.0,2839000.0,19803000.0,44616000.0,64419000.0,8188000.0,72607000.0
2023-09-30,-134000.0,0.333333,12539000.0,-402000.0,-402000.0,256000.0,7529000.0,25498000.0,12137000.0,4608000.0,...,39929000.0,12617000.0,27312000.0,22744000.0,4568000.0,34449000.0,28969000.0,63418000.0,7064000.0,70482000.0
2023-06-30,-1922000.0,0.4,-1960000.0,-4805000.0,-4805000.0,-22204000.0,10008000.0,42928000.0,-6765000.0,-16773000.0,...,36961000.0,12806000.0,24155000.0,21874000.0,2281000.0,25035000.0,50075000.0,75110000.0,6466000.0,81576000.0
2023-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31,13187.853926,0.001457,-53868000.0,9054000.0,9054000.0,-65392000.0,12205000.0,72188000.0,-44814000.0,-57019000.0,...,44567000.0,13174000.0,31393000.0,27112000.0,4281000.0,-16170000.0,77849000.0,61679000.0,7999000.0,69678000.0

In [5]:
fun = scrape_fundamental_data_yahoo('AAPL')

TypeError: scrape_fundamental_data_yahoo() missing 2 required positional arguments: 'start' and 'end'

In [16]:
from pipeline import Etl, Stock, Preprocess, DatabaseHandler

db = DatabaseHandler()

data = db.fetch_data("stock", "tic = 'CTAS'")
#data = db.fetch_data("stock")
data

    tic    name       sector                     subsector founded  status
0  CTAS  Cintas  Industrials  Diversified Support Services    1929       1

In [17]:
data.empty

False

In [15]:
db.fetch_data('financial')

,tic,datadate,rdq,saleq,cogsq,xsgaq,niq,ebitdaq,cshoq,actq,...,ltq,req,seqq,oancfq,ivncfq,fincfq,dvq,capxq,icaptq,surprise_pct
0,CTAS,2005-02-28,2005-03-17,755.241,403.849,203.912,71.332,147.480,172.069,1192.253,...,974.619,1967.547,2080.904,288.225,-313.985,10.263,0.000,100.956,2543.106,-0.030
1,CTAS,2005-05-31,2005-07-14,809.246,430.380,213.080,82.960,165.786,170.659,1166.544,...,955.609,2048.168,2104.135,125.988,-36.749,-117.903,54.968,39.771,2569.426,0.035
2,CTAS,2005-08-31,2005-09-21,823.475,437.408,224.550,78.422,161.517,168.234,1136.507,...,949.905,2135.926,2092.821,47.030,-1.703,-45.086,0.000,36.144,2603.393,-0.014
3,CTAS,2005-11-30,2005-12-22,835.785,453.921,221.044,76.839,160.820,167.992,1152.575,...,958.433,2216.607,2162.534,159.134,-89.551,-60.424,0.000,34.037,2624.424,-0.033
4,CTAS,2006-02-28,2006-03-16,836.421,451.419,224.420,76.594,160.582,168.117,1147.960,...,1177.833,2235.853,2184.531,105.155,-289.165,179.457,0.000,31.899,2818.724,-0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51282,VNO,2022-06-30,2022-08-01,453.494,225.269,31.902,50.418,208.029,192.039,2374.914,...,10501.610,-3205.751,6650.813,259.611,78.773,-363.321,101.624,NaN,11008.297,0.152
51283,VNO,2022-09-30,2022-10-31,457.431,222.592,29.174,7.769,210.520,192.018,2195.950,...,10484.400,-3299.630,6691.274,129.202,-133.876,-134.596,170.372,NaN,5828.207,0.810
51284,VNO,2022-12-31,2023-02-13,446.940,213.477,31.439,-493.280,179.090,191.775,2269.261,...,10417.000,-3894.580,6076.380,239.117,-57.126,-137.882,32.950,NaN,13591.227,NaN
51285,VNO,2023-03-31,2023-05-01,445.923,229.431,41.595,5.168,175.815,191.881,2096.789,...,10339.760,-3961.392,5932.658,91.872,125.654,-204.844,71.950,NaN,6558.376,1.176
51286,VNO,2023-06-30,2023-07-31,472.359,222.723,39.410,61.906,258.026,190.544,2132.002,...,9963.013,-3938.202,5734.857,282.869,26.719,-31.294,0.000,NaN,14011.712,1.800

In [14]:
data

,tic,datadate,rdq,saleq,cogsq,xsgaq,niq,ebitdaq,cshoq,actq,...,ltq,req,seqq,oancfq,ivncfq,fincfq,dvq,capxq,icaptq,surprise_pct
0,CTAS,2005-02-28,2005-03-17,755.241,403.849,203.912,71.332,147.480,172.069,1192.253,...,974.619,1967.547,2080.904,288.225,-313.985,10.263,0.000,100.956,2543.106,-0.030
1,CTAS,2005-05-31,2005-07-14,809.246,430.380,213.080,82.960,165.786,170.659,1166.544,...,955.609,2048.168,2104.135,125.988,-36.749,-117.903,54.968,39.771,2569.426,0.035
2,CTAS,2005-08-31,2005-09-21,823.475,437.408,224.550,78.422,161.517,168.234,1136.507,...,949.905,2135.926,2092.821,47.030,-1.703,-45.086,0.000,36.144,2603.393,-0.014
3,CTAS,2005-11-30,2005-12-22,835.785,453.921,221.044,76.839,160.820,167.992,1152.575,...,958.433,2216.607,2162.534,159.134,-89.551,-60.424,0.000,34.037,2624.424,-0.033
4,CTAS,2006-02-28,2006-03-16,836.421,451.419,224.420,76.594,160.582,168.117,1147.960,...,1177.833,2235.853,2184.531,105.155,-289.165,179.457,0.000,31.899,2818.724,-0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51282,VNO,2022-06-30,2022-08-01,453.494,225.269,31.902,50.418,208.029,192.039,2374.914,...,10501.610,-3205.751,6650.813,259.611,78.773,-363.321,101.624,NaN,11008.297,0.152
51283,VNO,2022-09-30,2022-10-31,457.431,222.592,29.174,7.769,210.520,192.018,2195.950,...,10484.400,-3299.630,6691.274,129.202,-133.876,-134.596,170.372,NaN,5828.207,0.810
51284,VNO,2022-12-31,2023-02-13,446.940,213.477,31.439,-493.280,179.090,191.775,2269.261,...,10417.000,-3894.580,6076.380,239.117,-57.126,-137.882,32.950,NaN,13591.227,NaN
51285,VNO,2023-03-31,2023-05-01,445.923,229.431,41.595,5.168,175.815,191.881,2096.789,...,10339.760,-3961.392,5932.658,91.872,125.654,-204.844,71.950,NaN,6558.376,1.176
51286,VNO,2023-06-30,2023-07-31,472.359,222.723,39.410,61.906,258.026,190.544,2132.002,...,9963.013,-3938.202,5734.857,282.869,26.719,-31.294,0.000,NaN,14011.712,1.800