In [1]:
from database_handler import DatabaseHandler

### Exploratory Data Analysis

Read main stock table, which gathers stock ticker for current and historical S&P500 members,
as well as their status, with respect to:
-  Current S&P500 membership
-  Publicly traded and available data.

In [2]:
db_handler = DatabaseHandler("../data/database/stocks.db")
stock_info = db_handler.fetch_stock_info()
stock_info

,tic,name,sector,last_update,spx_status,active
0,AABA,None,Financials,2017-04-18,0,0
1,AAP,None,Consumer Discretionary,2024-07-14,0,1
2,ABC,None,Health Care,2023-08-02,0,0
3,ABI,None,Industrials,2005-01-01,0,0
4,ABKFQ,None,Financials,2005-01-01,0,0
...,...,...,...,...,...,...
932,YUM,Yum! Brands,Consumer Discretionary,2024-05-01,1,1
933,ZBRA,Zebra Technologies,Information Technology,2024-07-14,1,1
934,ZBH,Zimmer Biomet,Health Care,2024-05-02,1,1
935,ZTS,Zoetis,Health Care,2024-07-14,1,1
936,SW,Smurfit WestRock,Materials,2005-01-01,1,0

Fetch financial data for a given stock, with all relevant information from 3 main financial statements.

In [4]:
fin_df = db_handler.fetch_financial_data("AAPL")
fin_df

,tic,datadate,rdq,saleq,cogsq,xsgaq,niq,ebitdaq,cshoq,actq,...,ltq,req,seqq,oancfq,ivncfq,fincfq,dvq,capxq,icaptq,surprise_pct
0,AAPL,2005-03-31,2005-04-13,3243.0,2235.0,570.0,286.0,438.0,823.137,9007.0,...,3725.0,3261.0,6386.0,1311.0,-2432.0,406.0,0.0,101.0,6386.000,0.397
1,AAPL,2005-06-30,2005-07-13,3520.0,2430.0,618.0,319.0,472.0,827.981,9376.0,...,3667.0,3584.0,6821.0,472.0,305.0,63.0,0.0,63.0,6821.000,0.180
2,AAPL,2005-09-30,2005-10-11,3678.0,2592.0,618.0,428.0,468.0,835.019,10300.0,...,4085.0,4005.0,7466.0,752.0,-429.0,74.0,0.0,96.0,7466.000,0.021
3,AAPL,2005-12-31,2006-01-18,5749.0,4133.0,814.0,565.0,802.0,845.617,12162.0,...,5801.0,4565.0,8380.0,283.0,93.0,283.0,0.0,82.0,8380.000,0.071
4,AAPL,2006-03-31,2006-04-19,4359.0,3012.0,768.0,410.0,579.0,849.188,11286.0,...,5229.0,4668.0,8682.0,-125.0,2462.0,-141.0,0.0,193.0,8682.000,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,AAPL,2023-03-31,2023-05-04,94836.0,52860.0,6201.0,24160.0,31216.0,15847.050,112913.0,...,270002.0,4336.0,62158.0,28560.0,2319.0,-25724.0,3650.0,NaN,159198.735,0.060
73,AAPL,2023-06-30,2023-08-03,81797.0,45384.0,5973.0,19881.0,26050.0,15647.868,122659.0,...,274764.0,1408.0,60274.0,26380.0,437.0,-24048.0,3849.0,2093.0,169554.000,0.055
74,AAPL,2023-09-30,2023-11-02,89498.0,49071.0,6151.0,22956.0,30653.0,15550.061,143566.0,...,290437.0,-214.0,62146.0,21598.0,2394.0,-23153.0,3758.0,2163.0,173234.000,0.049
75,AAPL,2023-12-31,2024-02-01,119575.0,64720.0,6786.0,33916.0,43221.0,15460.223,143692.0,...,279414.0,8242.0,74100.0,39895.0,1927.0,-30585.0,3825.0,2392.0,182140.000,0.039
76,AAPL,2024-03-31,2024-05-02,90753.0,48482.0,6468.0,23636.0,30736.0,15337.686,128416.0,...,263217.0,4339.0,74194.0,22690.0,-310.0,-30433.0,3710.0,1996.0,178784.000,0.020

In [5]:
mkt_df = db_handler.fetch_market_data("ZTS")
mkt_df

      tic        date       close   adj_close    volume
0     ZTS  2013-02-01   31.010000   28.544935  66789100
1     ZTS  2013-02-04   31.020000   28.554140   7695400
2     ZTS  2013-02-05   31.040001   28.572554   5013200
3     ZTS  2013-02-06   31.030001   28.563353   2126100
4     ZTS  2013-02-07   32.000000   29.456240   3800800
...   ...         ...         ...         ...       ...
2875  ZTS  2024-07-08  175.429993  175.429993   1704700
2876  ZTS  2024-07-09  174.240005  174.240005   1777500
2877  ZTS  2024-07-10  173.490005  173.490005   1971000
2878  ZTS  2024-07-11  177.740005  177.740005   1989900
2879  ZTS  2024-07-12  179.039993  179.039993   1672800

[2880 rows x 5 columns]

In [6]:
ins_df = db_handler.fetch_insider_data("AMZN")
ins_df

,tic,filling_date,trade_date,owner_name,title,transaction_type,last_price,qty,shares_held,owned,value
0,AMZN,2005-08-03,2005-08-01,Alberg Tom A,Dir,S - Sale,$44.81,"-33,470","195,865",-15%,"-$1,499,791"
1,AMZN,2005-08-03,2005-08-01,Kilar Jason,SVP,S - Sale+OE,$44.75,"-15,000","30,187",-33%,"-$671,181"
2,AMZN,2005-08-03,2005-08-01,Szkutak Thomas J,"SVP, CFO",S - Sale,$44.68,"-30,000","28,015",-52%,"-$1,340,256"
3,AMZN,2005-08-03,2005-08-01,Wilke Jeffrey A,SVP,S - Sale+OE,$45.05,"-33,750","40,149",-46%,"-$1,520,384"
4,AMZN,2005-08-03,2005-08-01,Wilson L Michelle,SVP,S - Sale+OE,$44.77,"-25,000","32,395",-44%,"-$1,119,193"
...,...,...,...,...,...,...,...,...,...,...,...
1000,AMZN,2024-07-01,2024-06-27,Zapolsky David,SVP,S - Sale,$195.00,"-4,710","59,500",-7%,"-$918,450"
1001,AMZN,2024-07-03,2024-07-01,Herrington Douglas J,CEO Worldwide Amazon Stores,S - Sale,$199.12,"-16,000","513,828",-3%,"-$3,185,965"
1002,AMZN,2024-07-05,2024-07-02,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.07,"-1,664,886","935,010,393",0%,"-$333,097,736"
1003,AMZN,2024-07-09,2024-07-05,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.15,"-4,314,109","930,696,284",0%,"-$863,487,543"
1004,AMZN,2024-07-11,2024-07-09,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.11,"-2,262,411","928,433,873",0%,"-$452,723,161"

### Web scraping quick tests

In [11]:
# scrape GP and COST - > check date errors
import yfinance as yf

t = yf.Ticker("AAPL")

data = t.splits
data

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

## Intro to Polars

In [3]:
import polars as pl
import numpy as np

num_rows = 5000
rng = np.random.default_rng(seed=7)

buildings_data = {
    "sqft": rng.exponential(scale=1000, size=num_rows),
    "year": rng.integers(low=1995, high=2023, size=num_rows),
    "building_type": rng.choice(["A", "B", "C"], size=num_rows),
}

buildings = pl.DataFrame(buildings_data)
buildings

shape: (5_000, 3)
┌─────────────┬──────┬───────────────┐
│ sqft        ┆ year ┆ building_type │
│ ---         ┆ ---  ┆ ---           │
│ f64         ┆ i64  ┆ str           │
╞═════════════╪══════╪═══════════════╡
│ 707.529256  ┆ 1996 ┆ C             │
│ 1025.203348 ┆ 2020 ┆ C             │
│ 568.548657  ┆ 2012 ┆ A             │
│ 895.109864  ┆ 2000 ┆ A             │
│ 206.532754  ┆ 2011 ┆ A             │
│ …           ┆ …    ┆ …             │
│ 710.435755  ┆ 2003 ┆ C             │
│ 408.872783  ┆ 2009 ┆ C             │
│ 57.562059   ┆ 2019 ┆ C             │
│ 3728.088949 ┆ 2020 ┆ C             │
│ 686.678345  ┆ 2011 ┆ C             │
└─────────────┴──────┴───────────────┘

In [4]:
buildings.schema

Schema([('sqft', Float64), ('year', Int64), ('building_type', String)])

In [6]:
buildings.select(["sqft", "year"])

shape: (5_000, 2)
┌─────────────┬──────┐
│ sqft        ┆ year │
│ ---         ┆ ---  │
│ f64         ┆ i64  │
╞═════════════╪══════╡
│ 707.529256  ┆ 1996 │
│ 1025.203348 ┆ 2020 │
│ 568.548657  ┆ 2012 │
│ 895.109864  ┆ 2000 │
│ 206.532754  ┆ 2011 │
│ …           ┆ …    │
│ 710.435755  ┆ 2003 │
│ 408.872783  ┆ 2009 │
│ 57.562059   ┆ 2019 │
│ 3728.088949 ┆ 2020 │
│ 686.678345  ┆ 2011 │
└─────────────┴──────┘

In [8]:
buildings.filter(pl.col("year") > 2015).select(pl.col("year").min())

shape: (1, 1)
┌──────┐
│ year │
│ ---  │
│ i64  │
╞══════╡
│ 2016 │
└──────┘