In [1]:
from database_handler import DatabaseHandler

### Exploratory Data Analysis

Read main stock table, which gathers stock ticker for current and historical S&P500 members,
as well as their status, with respect to:
-  Current S&P500 membership
-  Publicly traded and available data.

In [2]:
db_handler = DatabaseHandler("../data/database/stock_db.db")
stock_info = db_handler.fetch_stock()
stock_info

shape: (936, 6)
┌───────┬────────────────────┬────────────────────────┬─────────────┬────────────┬────────┐
│ tic   ┆ name               ┆ sector                 ┆ last_update ┆ spx_status ┆ active │
│ ---   ┆ ---                ┆ ---                    ┆ ---         ┆ ---        ┆ ---    │
│ str   ┆ str                ┆ str                    ┆ date        ┆ i64        ┆ i64    │
╞═══════╪════════════════════╪════════════════════════╪═════════════╪════════════╪════════╡
│ AABA  ┆ null               ┆ Financials             ┆ 2017-04-18  ┆ 0          ┆ 0      │
│ AAP   ┆ null               ┆ Consumer Discretionary ┆ 2024-08-27  ┆ 0          ┆ 1      │
│ ABC   ┆ null               ┆ Health Care            ┆ 2023-08-02  ┆ 0          ┆ 0      │
│ ABI   ┆ null               ┆ Industrials            ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ ABKFQ ┆ null               ┆ Financials             ┆ 2005-01-01  ┆ 0          ┆ 0      │
│ …     ┆ …                  ┆ …                      ┆ …           ┆ …          ┆ …      │
│ XYL   ┆ Xylem Inc.         ┆ Industrials            ┆ 2024-08-27  ┆ 1          ┆ 1      │
│ YUM   ┆ Yum! Brands        ┆ Consumer Discretionary ┆ 2024-05-01  ┆ 1          ┆ 1      │
│ ZBRA  ┆ Zebra Technologies ┆ Information Technology ┆ 2024-08-27  ┆ 1          ┆ 1      │
│ ZBH   ┆ Zimmer Biomet      ┆ Health Care            ┆ 2024-08-27  ┆ 1          ┆ 1      │
│ ZTS   ┆ Zoetis             ┆ Health Care            ┆ 2024-08-27  ┆ 1          ┆ 1      │
└───────┴────────────────────┴────────────────────────┴─────────────┴────────────┴────────┘

Fetch financial data for a given stock, with all relevant information from 3 main financial statements.

In [4]:
fin_df = db_handler.fetch_financial_data("AAPL")
fin_df

shape: (78, 27)
┌──────┬────────────┬────────────┬──────────┬───┬────────┬────────┬──────────┬──────────────┐
│ tic  ┆ datadate   ┆ rdq        ┆ saleq    ┆ … ┆ dvq    ┆ capxq  ┆ icaptq   ┆ surprise_pct │
│ ---  ┆ ---        ┆ ---        ┆ ---      ┆   ┆ ---    ┆ ---    ┆ ---      ┆ ---          │
│ str  ┆ date       ┆ date       ┆ f64      ┆   ┆ f64    ┆ f64    ┆ f64      ┆ f64          │
╞══════╪════════════╪════════════╪══════════╪═══╪════════╪════════╪══════════╪══════════════╡
│ AAPL ┆ 2005-03-31 ┆ 2005-04-13 ┆ 3243.0   ┆ … ┆ 0.0    ┆ 101.0  ┆ 6386.0   ┆ 0.397        │
│ AAPL ┆ 2005-06-30 ┆ 2005-07-13 ┆ 3520.0   ┆ … ┆ 0.0    ┆ 63.0   ┆ 6821.0   ┆ 0.18         │
│ AAPL ┆ 2005-09-30 ┆ 2005-10-11 ┆ 3678.0   ┆ … ┆ 0.0    ┆ 96.0   ┆ 7466.0   ┆ 0.021        │
│ AAPL ┆ 2005-12-31 ┆ 2006-01-18 ┆ 5749.0   ┆ … ┆ 0.0    ┆ 82.0   ┆ 8380.0   ┆ 0.071        │
│ AAPL ┆ 2006-03-31 ┆ 2006-04-19 ┆ 4359.0   ┆ … ┆ 0.0    ┆ 193.0  ┆ 8682.0   ┆ 0.082        │
│ …    ┆ …          ┆ …          ┆ …        ┆ … ┆ …      ┆ …      ┆ …        ┆ …            │
│ AAPL ┆ 2023-06-30 ┆ 2023-08-03 ┆ 81797.0  ┆ … ┆ 3849.0 ┆ 2093.0 ┆ 169554.0 ┆ 0.055        │
│ AAPL ┆ 2023-09-30 ┆ 2023-11-02 ┆ 89498.0  ┆ … ┆ 3758.0 ┆ 2163.0 ┆ 173234.0 ┆ 0.049        │
│ AAPL ┆ 2023-12-31 ┆ 2024-02-01 ┆ 119575.0 ┆ … ┆ 3825.0 ┆ 2392.0 ┆ 182140.0 ┆ 0.039        │
│ AAPL ┆ 2024-03-31 ┆ 2024-05-02 ┆ 90753.0  ┆ … ┆ 3710.0 ┆ 1996.0 ┆ 178784.0 ┆ 0.02         │
│ AAPL ┆ 2024-06-30 ┆ 2024-08-01 ┆ 85777.0  ┆ … ┆ 3895.0 ┆ 2151.0 ┆ 168012.0 ┆ 0.0399       │
└──────┴────────────┴────────────┴──────────┴───┴────────┴────────┴──────────┴──────────────┘

In [5]:
mkt_df = db_handler.fetch_market_data("AAPL")
mkt_df

shape: (4_947, 5)
┌──────┬────────────┬────────────┬────────────┬────────────┐
│ tic  ┆ date       ┆ close      ┆ adj_close  ┆ volume     │
│ ---  ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ str  ┆ date       ┆ f64        ┆ f64        ┆ i64        │
╞══════╪════════════╪════════════╪════════════╪════════════╡
│ AAPL ┆ 2005-01-03 ┆ 1.130179   ┆ 0.954409   ┆ 691992000  │
│ AAPL ┆ 2005-01-04 ┆ 1.141786   ┆ 0.96421    ┆ 1096810400 │
│ AAPL ┆ 2005-01-05 ┆ 1.151786   ┆ 0.972655   ┆ 680433600  │
│ AAPL ┆ 2005-01-06 ┆ 1.152679   ┆ 0.973409   ┆ 705555200  │
│ AAPL ┆ 2005-01-07 ┆ 1.236607   ┆ 1.044284   ┆ 2227450400 │
│ …    ┆ …          ┆ …          ┆ …          ┆ …          │
│ AAPL ┆ 2024-08-22 ┆ 224.529999 ┆ 224.529999 ┆ 43695300   │
│ AAPL ┆ 2024-08-23 ┆ 226.839996 ┆ 226.839996 ┆ 38677300   │
│ AAPL ┆ 2024-08-26 ┆ 227.179993 ┆ 227.179993 ┆ 30602200   │
│ AAPL ┆ 2024-08-27 ┆ 228.029999 ┆ 228.029999 ┆ 35934600   │
│ AAPL ┆ 2024-08-28 ┆ 226.490005 ┆ 226.490005 ┆ 35922498   │
└──────┴────────────┴────────────┴────────────┴────────────┘

In [6]:
ins_df = db_handler.fetch_insider_data("AMZN")
ins_df

,tic,filling_date,trade_date,owner_name,title,transaction_type,last_price,qty,shares_held,owned,value
0,AMZN,2005-08-03,2005-08-01,Alberg Tom A,Dir,S - Sale,$44.81,"-33,470","195,865",-15%,"-$1,499,791"
1,AMZN,2005-08-03,2005-08-01,Kilar Jason,SVP,S - Sale+OE,$44.75,"-15,000","30,187",-33%,"-$671,181"
2,AMZN,2005-08-03,2005-08-01,Szkutak Thomas J,"SVP, CFO",S - Sale,$44.68,"-30,000","28,015",-52%,"-$1,340,256"
3,AMZN,2005-08-03,2005-08-01,Wilke Jeffrey A,SVP,S - Sale+OE,$45.05,"-33,750","40,149",-46%,"-$1,520,384"
4,AMZN,2005-08-03,2005-08-01,Wilson L Michelle,SVP,S - Sale+OE,$44.77,"-25,000","32,395",-44%,"-$1,119,193"
...,...,...,...,...,...,...,...,...,...,...,...
1000,AMZN,2024-07-01,2024-06-27,Zapolsky David,SVP,S - Sale,$195.00,"-4,710","59,500",-7%,"-$918,450"
1001,AMZN,2024-07-03,2024-07-01,Herrington Douglas J,CEO Worldwide Amazon Stores,S - Sale,$199.12,"-16,000","513,828",-3%,"-$3,185,965"
1002,AMZN,2024-07-05,2024-07-02,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.07,"-1,664,886","935,010,393",0%,"-$333,097,736"
1003,AMZN,2024-07-09,2024-07-05,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.15,"-4,314,109","930,696,284",0%,"-$863,487,543"
1004,AMZN,2024-07-11,2024-07-09,Bezos Jeffrey P,"Exec Chair, 10%",S - Sale,$200.11,"-2,262,411","928,433,873",0%,"-$452,723,161"

### Web scraping quick tests

In [1]:
# scrape GP and COST - > check date errors
import yfinance as yf

t = yf.Ticker("AAPL")

data = t.info
data

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 161000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1722470400,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 228.03,
 'open': 228.05,
 'dayLow': 226.33,
 'dayHigh': 229.85,
 'regularMarketPreviousClose': 228.03,
 'regularMarketOpen': 228.05,
 'regularMarketDayLow': 226.33,
 'regularMarketDayHigh': 229.85,
 'dividendRate': 1.0,
 'dividendYield': 0.0044,
 'exDividendDate': 1723420800,
 'payoutRatio': 0.1476,
 'fiveYearAvgDividendYield': 0.68,
 'beta': 1.244,
 'trailingPE': 34.513515,
 'forwardPE': 30.314678,
 'volume': 14539934,
 'regularMarketVolume': 14539934,
 'averageVolume': 64046471,
 'averageVolume10days': 38732800,
 'averageDailyVolume10Day': 38732800,
 'bid': 226.6,
 'ask': 226.83,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3447587340288,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 237.23,
 'priceToSalesTrailing12Months': 8.940769,
 'fiftyDayAverage': 220.7048,
 'twoHundredDayAverage': 193.4484,
 'trailingAnnualDividendRate': 0.97,
 'trailingAnnualDividendYield': 0.0042538266,
 'currency': 'USD',
 'enterpriseValue': 3506502369280,
 'profitMargins': 0.26441,
 'floatShares': 15179810381,
 'sharesOutstanding': 15204100096,
 'sharesShort': 121598771,
 'sharesShortPriorMonth': 135383184,
 'sharesShortPreviousMonthDate': 1721001600,
 'dateShortInterest': 1723680000,
 'sharesPercentSharesOut': 0.008,
 'heldPercentInsiders': 0.02703,
 'heldPercentInstitutions': 0.60853,
 'shortRatio': 2.19,
 'shortPercentOfFloat': 0.008,
 'impliedSharesOutstanding': 15410899968,
 'bookValue': 4.382,
 'priceToBook': 51.746647,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1719619200,
 'earningsQuarterlyGrowth': 0.079,
 'netIncomeToCommon': 101956001792,
 'trailingEps': 6.57,
 'forwardEps': 7.48,
 'pegRatio': 3.07,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 9.094,
 'enterpriseToEbitda': 26.609,
 '52WeekChange': 0.2151879,
 'SandP52WeekChange': 0.24606025,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1723420800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 226.7538,
 'targetHighPrice': 300.0,
 'targetLowPrice': 183.86,
 'targetMeanPrice': 235.58,
 'targetMedianPrice': 240.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 61801000960,
 'totalCashPerShare': 4.065,
 'ebitda': 131781001216,
 'totalDebt': 101304000512,
 'quickRatio': 0.798,
 'currentRatio': 0.953,
 'totalRevenue': 385603010560,
 'debtToEquity': 151.862,
 'revenuePerShare': 24.957,
 'returnOnAssets': 0.22612,
 'returnOnEquity': 1.60583,
 'freeCashflow': 86158123008,
 'operatingCashflow': 113040998400,
 'earningsGrowth': 0.111,
 'revenueGrowth': 0.049,
 'grossMargins': 0.45962003,
 'ebitdaMargins': 0.34175,
 'operatingMargins': 0.29556,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2177}

In [2]:
t.info

AttributeError: 'Ticker' object has no attribute 'name'

## Intro to Polars

In [3]:
import polars as pl
import numpy as np

num_rows = 5000
rng = np.random.default_rng(seed=7)

buildings_data = {
    "sqft": rng.exponential(scale=1000, size=num_rows),
    "year": rng.integers(low=1995, high=2023, size=num_rows),
    "building_type": rng.choice(["A", "B", "C"], size=num_rows),
}

buildings = pl.DataFrame(buildings_data)
buildings

shape: (5_000, 3)
┌─────────────┬──────┬───────────────┐
│ sqft        ┆ year ┆ building_type │
│ ---         ┆ ---  ┆ ---           │
│ f64         ┆ i64  ┆ str           │
╞═════════════╪══════╪═══════════════╡
│ 707.529256  ┆ 1996 ┆ C             │
│ 1025.203348 ┆ 2020 ┆ C             │
│ 568.548657  ┆ 2012 ┆ A             │
│ 895.109864  ┆ 2000 ┆ A             │
│ 206.532754  ┆ 2011 ┆ A             │
│ …           ┆ …    ┆ …             │
│ 710.435755  ┆ 2003 ┆ C             │
│ 408.872783  ┆ 2009 ┆ C             │
│ 57.562059   ┆ 2019 ┆ C             │
│ 3728.088949 ┆ 2020 ┆ C             │
│ 686.678345  ┆ 2011 ┆ C             │
└─────────────┴──────┴───────────────┘

In [4]:
buildings.schema

Schema([('sqft', Float64), ('year', Int64), ('building_type', String)])

In [6]:
buildings.select(["sqft", "year"])

shape: (5_000, 2)
┌─────────────┬──────┐
│ sqft        ┆ year │
│ ---         ┆ ---  │
│ f64         ┆ i64  │
╞═════════════╪══════╡
│ 707.529256  ┆ 1996 │
│ 1025.203348 ┆ 2020 │
│ 568.548657  ┆ 2012 │
│ 895.109864  ┆ 2000 │
│ 206.532754  ┆ 2011 │
│ …           ┆ …    │
│ 710.435755  ┆ 2003 │
│ 408.872783  ┆ 2009 │
│ 57.562059   ┆ 2019 │
│ 3728.088949 ┆ 2020 │
│ 686.678345  ┆ 2011 │
└─────────────┴──────┘

In [8]:
buildings.filter(pl.col("year") > 2015).select(pl.col("year").min())

shape: (1, 1)
┌──────┐
│ year │
│ ---  │
│ i64  │
╞══════╡
│ 2016 │
└──────┘